<% @messages.each do |message| %>
 <div class="container">
    <div class="row">
  <p>

    <%= message.read? ? '✔✔' : '✔' %>
    <%= message.sender == current_user ? message.receiver.name : message.sender.name %>
    <%= message.content %>
    <%= link_to 'see message', user_message_path(current_user, message) %>
  </p>
<% end %>
    </div>
 </div>

