<% @messages.each do |message| %>
  <p>
    <%#= message.read? ? 'LIDA' : 'NAO LIDA!' %>
    <%= message.sender.name %>

    <%= link_to 'Ler', user_message_path(current_user, message) %>
  </p>
<% end %>

