.masthead-content{
  background: video_tag;
}

header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  background-color: white;
  color: #1F2041;
}

.rounded-pill {
  border-radius: 5rem;
  border-style: none;
}

.avatar-medium {
  border-radius: 50%;
  width: 125px;
  height: 132px;
  // box-shadow: 0 0 10px rgba(120, 225, 219, 0.71);
  outline: rgba(120, 225, 219, 0.71);
  outline-offset: 0px, 4px;
}


header.masthead .masthead-content .masthead-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 80px;
  color: white;
  font-weight: bold;
}

header.masthead .masthead-content .masthead-subheading {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: white;
  font-weight: lighter;
}

.video
{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}


