body {
  background-color: #f2f2f3;
}

header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(5rem + 10px);
  padding-bottom: 10rem;
  padding-right: 80rem;
  // background-image: image-url("/assets/1.jpg");
  -webkit-text-fill-color: white;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  height: 100vh;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  background-color: white;
  color: #1F2041;
}

.rounded-pill {
  border-radius: 5rem;
  border-style: none;
}

.avatar-medium {
  border-radius: 50%;
  width: 125px;
  height: 132px;
  // box-shadow: 0 0 10px rgba(120, 225, 219, 0.71);
  outline: rgba(120, 225, 219, 0.71);
  outline-offset: 0px, 4px;
}


header.masthead .masthead-content .masthead-heading {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 80px;
  color: white;
  font-weight: bold;
}

header.masthead .masthead-content .masthead-subheading {
  font-size: 30px;
  font-weight: medium;
}

.video
{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.home-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
