
#inbox {
  margin: 2em 0;
  background-color: white;
  padding: 30px;
}

.borders {
  border-bottom: 1px solid #ccc;
  padding: 0.4em 0;
  cursor: pointer;
}

.heading {
  font-weight: bold;
}

.welcome {
  padding-bottom: 70px;
}

.link {
  text-align: right;
}
a {
  color: orange;


}
