
#inbox {
  margin: 8.5em 0;
  background-color: white;
  padding: 30px;
}

.borders {
  border-bottom: 1px solid rgba(31,32,65, 0.05);
  padding: 0.9em 0.6em 0.9em 0;
}

.spacing_messages {
  border-bottom: 1px solid rgba(31,32,65, 0.05);
  list-style-type: none;
  padding: 28px 25px 25px 0px;
  text-align: left;
}

.spacing_messages li {
  text-align: left;
  overflow: auto;
}

.heading {
  font-weight: bold;
  text-align: left;
  padding-left: 0px;
}

.icons-messages {
  padding-right: 10px;
}

.message-list {
  padding: 60px;
}

.message-body {
  padding-left: 15px;
  padding-right: 15px;
}

.welcome {
  padding-bottom: 20px;
  padding-left: 60px;
}

.view {
  font-size: 16px;
  text-align: right;
  font-weight: lighter;
  color: orange;
}

.view:hover {
  font-weight: bold;
  color: #FF6B00;
  text-decoration: none;
}

.return-profile {
  text-align: right;
  padding: 10px;
  font-weight: lighter;
  font-size: 16px;
  color: orange;
}

.return-profile:hover {
  font-weight: bold;
  color: #FF6B00;
  text-decoration: none;
}

.sender {
  margin-right: 10px;
}

.msg-txt {
  font-size: 16px;
}

