input[type=text] {
  border: 2px solid rgba(31,32,65, 0.09);
  padding: 4px;
  border-radius: 2px;
}

input[type=text]:focus {
  border: 1px solid rgba(31,32,65, 0.1);
}

.wish-title {
  text-align: left;
}

.wish-input {
  margin: 20px;
  text-align: left;

}
.placeholder-text {
  font-style: italic;
  font-weight: lighter;
}


