input[type=text] {
  border: 2px solid rgba(31,32,65, 0.09);
  padding: 4px;
  border-radius: 2px;


input[type=text]:focus {
  border: 1px solid rgba(31,32,65, 0.1);
}

.placeholder-text {
  font-style: italic;
  font-weight: lighter;
}
// input[type=submit], input[type=reset] {
//     background-color: rgb(253, 120, 84);
//     border: none;
//     color: white;
//     padding: 10px 15px;
//     text-decoration: none;
//     margin: 4px 4px;
//     cursor: pointer;
// }
