.wrapper {
  position: relative;
}


.container-blue {
  height: 200px;
  background: linear-gradient(0deg, #78E0DA 0%, #66D2EA 100%);
  // background: linear-gradient(0deg, #FD7905 0%, #78E1DB 100%);
}

.container-profile {
  height: 300px;
  position: absolute;
  top: 85px;
}

.row-profile {
  display: flex;
  align-items: center;
}

.profile-avatar {
  padding-left: 100px;
  padding-right: 30px;
}

.profile-info {
  text-align: left;
}

.profile-info h1 {
  color: white;
}

.profile-info h4 {
  color: rgba(31, 32, 65, 0.78);
  font-size: 24px;
}

.profile-info h5 {
  color: rgba(31, 32, 65, 0.75);
  font-size: 18px;
}




.profile-interaction {}

.btn-profile-interaction {}




.container-grey {
  background-color: rgb(200,200,200);
  display: flex;
  margin-top: 150px;
}

.grey-left-column-content {
  border: 1px solid black;
}

.grey-left-area-expertise {
  border: 1px solid black;
  margin-bottom: 10px;
}

.grey-left-area-wishlist {
  border: 1px solid black;
  margin-bottom: 10px;
}

.btn-whishlist {}



.grey-main-content {
  border: 1px solid black;
}

.main-content-description {
  border: 1px solid black;
}

.main-content-aboutme {
  border: 1px solid black;
}

.row-aboutme {}

.aboutme-card {
  border: 1px solid black;
  margin-bottom: 10px;
}

