.results-container {
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}

.search-form {
  background-color: white;
}

.topic {
  padding: 10px;
}

.location {
  padding: 10px;
}

.search-btn {
  padding: 10px;
}

.results-title {
  padding: 50px;
}
