<div class="footer">
  <div class="footer-copyright">
    <i class="far fa-copyright"></i><span class="change-color"> WinWin</span> 2018
  </div>
   <div class="footer-links">
    <a href="#"><i class="fab fa-facebook-f footer-icon"></i></a>
    <a href="#"><i class="fab fa-twitter footer-icon"></i></a>
    <a href="#"><i class="fab fa-youtube footer-icon"></i></a>
    <a href="#"><i class="fab fa-instagram footer-icon"></i></a>
  </div>
</div>
