<!-- <div class="container"> -->
  <!-- <h2>Modal Example</h2> -->
  <!-- Button to Open the Modal -->
 <!--  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Messages
  </button> -->


  <!-- The Modal -->
  <div class="modal" id="testMessage">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
         <p> <h4 class="modal-title msg-title">Contacting <%= @user_receiver.name %></h4></p>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <%= simple_form_for [@user_receiver, @message] do |ef| %>
          <%= ef.input :content, as: :text, label: false %>


        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
        <%= ef.button :submit, "Send", class: " btn-nav" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>

