<body>
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
    <div class="banner-content">
      <h1 class="masthead-heading mb-0">Le Wagon Berlin</h1>
      <h2 class="masthead-subheading mb-0">sharing stories, passing on legacies</h2>
       <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-primary btn-xl rounded-pill mt-5" %>
    </div>
  </div>


      <!-- <div class="bg-circle-1 bg-circle"></div>
      <div class="bg-circle-2 bg-circle"></div>
      <div class="bg-circle-3 bg-circle"></div>
      <div class="bg-circle-4 bg-circle"></div> -->
 </header>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <%#= image_tag "04.png", class: "avatar-large"%>
              <!-- <i class="fas fa-user-plus fa-4x" ></i> -->
            <!-- How to area -->
   <div class="wrapper">
     <div class="container-how-to">
       <h2><strong>How it works</strong></h2>
       <div class="row center-boxes">
       </div>
     </div>
   </div>

<div class="wrapper">
     <div class="container">
       <div class="row center-boxes">
         <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
           <div class="card-landing">
             <h2 class="masthead-subheading mb-0">1. Search</h2>
             <p>
              Ever wondered what life was like during the grand 40s, 50s or even the 60s? What clothes people wore and what toys children played with? How art influenced these times and what type of music people actually listened to?
           </div>
         </div>
       </div>
     </div>
   </div>
   <div class="wrapper">
     <div class="container">
       <div class="row center-boxes">

        <div class="wrapper">
     <div class="container">
       <div class="row center-boxes">
         <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
           <div class="card-landing">
             <h2 class="masthead-subheading mb-0">2. Match</h2>
             <p>
               Perhaps you experienced these times and surely have a story to tell. Match with people who seek to know your experience and find others who intrigue that little curiosity bug of yours.
             </p>
           </div>
         </div>
       </div>
     </div>
   </div>

<div class="wrapper">
     <div class="container">
       <div class="row center-boxes">
         <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
           <div class="card-landing">
             <h2 class="masthead-subheading mb-0">3. Converse</h2>
             <p>
               Share your experiences through our chat box and arrange to meet with others for a deeper understanding of the world. Make valuable connections and immerse yourself in a truly timeless experience.
             </p>
           </div>
         </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-black">
      <div class="container">
        <p class="m-0 text-center text-white small">Copyright &copy; winwin 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    </div>
</body>
