
  <header class="masthead text-center" style="background-image: linear-gradient(-180deg, rgba(31,32,65, 0.7) 0%, rgba(31,32,65, 0.6) 30%), url('/assets/1.jpg');">
    <div class="home-flex">
      <div class="masthead-content">
        <h1 class="masthead-heading mb-0">WinWin</h1>
        <h2 class="masthead-subheading mb-0">sharing stories, passing on legacies</h2>
        <h2 class="masthead-subheading mb-0"></h2>
        <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-primary btn-xl rounded-pill mt-5" %>
      </div>
    </div>
  </header>
   <!-- div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="p-5"> -->
  <!-- <section>
    <div class="container">
      <h2 class="about">how it works</h2>
      <div class="row align-items-center">
          <div class="col-lg-6 ">
            <div class="p-5">
              <h2 class="display-4">
              <strong>search</strong>
            </h2>
          </div>
        </div>

      <div class="row align-items-center">
        <div class="col-lg-6 ">
          <div class="p-5">
              <%#= image_tag "04.png", class: "img-fluid avatar-large"%>
              <i class="fas fa-user-plus fa-4x" ></i>
          </div>
        </div>
      </div>

  </section> -->





            <!-- How to area -->
   <!-- <div class="wrapper">
     <div class="container-how-to">
       <h2><strong>How it works</strong></h2>
       <div class="row center-boxes">
       </div>
     </div>
   </div> -->

<div class="wrapper">

  <div class="container">
    <div class="row center-boxes">
      <h2 class="title">How it Works</h2>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="card-landing">
          <i class="fas fa-user-plus fa-4x" ></i>
          <h2 class="masthead-subheading mb-0">Search</h2>
          <p>Ever wondered what life was like during the grand 40s, 50s or even the 60s?</p>
        <!-- <img src=""alt="test" -->
        </div>
        </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 ">
        <div class="card-landing">
          <i class="fas fa-user-plus fa-4x" ></i>
          <h2 class="masthead-subheading mb-0">Match</h2>
         <p>
          Arrange to meet with others for a deeper understanding of the world.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 ">
        <div class="card-landing">
          <i class="fas fa-user-plus fa-4x" ></i>
          <h2 class="masthead-subheading mb-0">Converse</h2>
         <p>
          Make valuable connections and immerse yourself in a truly timeless experience.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="container quote">
    <div class="row center-boxes">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 quote">
        <div class="card-landing text-center ">
         <p>
          Arrange to meet with others for a deeper understanding of the world.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 icon">
        <i class="fas fa-user-plus fa-4x" ></i>
        <h2 class="masthead-subheading mb-0">Match</h2>
         <img src=""alt="test"
    </div>
  </div>

  <div class="container quote">
    <div class="row center-boxes">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 icon">
          <i class="fas fa-user-plus fa-4x" ></i>
          <h2 class="masthead-subheading mb-0">Converse</h2>
         <img src=""alt="test"
        </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 quote">
        <div class="card-landing">
         <p>
          Make valuable connections and immerse yourself in a truly timeless experience.</p>
        </div>
      </div>
    </div>
  </div>

</div>
 -->
<!-- Ever wondered what life was like during the grand 40s, 50s or even the 60s? What clothes people wore and what toys children played with? How art influenced these times and what type of music people actually listened to? -->
    <!-- <div class="wrapper">
     <div class="container">
       <div class="row center-boxes">
         <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
           <div class="card-landing">
             <h2 class="masthead-subheading mb-0">2. Match</h2>
             <p>
               Perhaps you experienced these times and surely have a story to tell. Match with people who seek to know your experience and find others who intrigue that little curiosity bug of yours.
             </p>
           </div>
         </div>
       </div>
     </div>
   </div>

<div class="wrapper">
     <div class="container">
       <div class="row center-boxes">
         <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
           <div class="card-landing">
             <h2 class="masthead-subheading mb-0">3. Converse</h2>
             <p>
               Share your experiences through our chat box and arrange to meet with others for a deeper understanding of the world. Make valuable connections and immerse yourself in a truly timeless experience.
             </p>
           </div>
         </div>
    </section>
</div> -->

     <!-- Footer -->
    <footer class="py-5 bg-black">
      <div class="container">
        <p class="m-0 text-center text-white small">Copyright &copy; winwin 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  </div>
</body>
</html>
