<h1>They can tell you a story!</h1>
<p></p>


<% @results.each do |result| %>
  <div style="padding: 20px;">
    <%= cl_image_tag(result.avatar_url, class:"avatar-search") %>
    <h2><%= result.name %></h2>
    <h3><%= result.tagline %></h3>
    <h4><%= result.location %></h4>
  </div>
<% end %>
