h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 42px;
  line-height: 53px;
  color: #1F2041;
  font-weight: normal;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 32px;
  line-height: 40px;
  color: #1F2041;
  font-weight: normal;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: #1F2041;
  font-weight: bold;
}

h4 {
  font-family: 'Quicksand', sans-serif;
  font-size: 19px;
  line-height: 24px;
  color: #1F2041;
  font-weight: bold;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  font-weight: normal;
}

h6 {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #1F2041;
  font-weight: bold;
}
